@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: linear-gradient(to bottom right,rgb(27, 22, 88),rgb(0,0,0),rgb(87, 11, 87)); 
}


a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "mfers";   /*Can be any text*/
  src: local("Dinomouse-Regular"),
    url("https://www.mferspet.com/fonts/Dinomouse-Regular.otf") format("truetype");
}

* {
  font-family: mfers, sans-serif;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
